*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	background: #9DD6D6;
}
.col {
	margin: 8px;
	padding: 1em;
	background: #fff;
	color: #000;
	text-align: center;
	border-radius: 4px;
}
.grid {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.grid:before,
.grid:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}
.grid:after,
.row:after {
	clear: both;
}

[class*="col-"] {
	float: left;
	width: 100%;
}

@media screen and (min-width: 320px) {

.col-sm-1{width: 6.25%;}
.col-sm-2{width: 12.5%;}
.col-sm-3{width: 18.75%;}
.col-sm-4{width: 25%;}
.col-sm-5{width: 33.33333%;}
.col-sm-6{width: 37.5%;}
.col-sm-7{width: 43.75%;}
.col-sm-8{width: 50%;}
.col-sm-9{width: 56.25%;}
.col-sm-10{width: 62.5%;}
.col-sm-11{width: 68.75%;}
.col-sm-12{width: 75%;}
.col-sm-13{width: 81.25%;}
.col-sm-14{width: 87.5%;}
.col-sm-15{width: 93.75%;}
.col-sm-16{width: 100%;}

}

@media screen and (min-width: 640px) {

.col-md-1{width: 6.25%;}
.col-md-2{width: 12.5%;}
.col-md-3{width: 18.75%;}
.col-md-4{width: 25%;}
.col-md-5{width: 33.33333%;}
.col-md-6{width: 37.5%;}
.col-md-7{width: 43.75%;}
.col-md-8{width: 50%;}
.col-md-9{width: 56.25%;}
.col-md-10{width: 62.5%;}
.col-md-11{width: 68.75%;}
.col-md-12{width: 75%;}
.col-md-13{width: 81.25%;}
.col-md-14{width: 87.5%;}
.col-md-15{width: 93.75%;}
.col-md-16{width: 100%;}

}
@media screen and (min-width: 960px) {

.col-wd-1{width: 6.25%;}
.col-wd-2{width: 12.5%;}
.col-wd-3{width: 18.75%;}
.col-wd-4{width: 25%;}
.col-wd-5{width: 33.33333%;}
.col-wd-6{width: 37.5%;}
.col-wd-7{width: 43.75%;}
.col-wd-8{width: 50%;}
.col-wd-9{width: 56.25%;}
.col-wd-10{width: 62.5%;}
.col-wd-11{width: 68.75%;}
.col-wd-12{width: 75%;}
.col-wd-13{width: 81.25%;}
.col-wd-14{width: 87.5%;}
.col-wd-15{width: 93.75%;}
.col-wd-16{width: 100%;}

}